
body{
    font-family: sans-serif;
  }
  
  .fab{
    position: fixed;
    bottom:10px;
    right:20px;
  }
  
  .fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #28A745;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button:focus{
    outline: none;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #28A745;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  
  .fab button.main:before{
    content: '+';
  }
#saudacoes{
  margin-top: 10px;
}
.dicas{
  padding-bottom: 10px;
  font-weight: bold;
}
.float-right{
  float: right;
  text-align: right;
}